@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.logo-font {
    font-family: 'Luckiest Guy', cursive;
}

.home {
    margin: 0px;
    padding: 30px;
    background-image: url(https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_960_720.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
}
.h2 h2{
    font-size: 3em;
    font-weight: 900;
    margin-top: 80px;
    text-transform: uppercase;
}

.h5 {
    font-size: 18px;
    text-align: left;
}
.p {
    font-size: 20px;
    font-weight: normal;
}
.btn {
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px 25px;
}
.span{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #000000;
}

.icon i{
    font-size: 60px;
    color: rgb(100, 189, 17);
}


.home-img {
    height: 400px;
}

.img2 {
    height: 400px;
}

.homecourse{
    margin-top: 100px;
    margin-bottom: 100px;
}

.banner-home img{
   height: 100px;
   margin-bottom: 20px;
}
.banner-home h5{
   font-weight: bolder;
   border-radius: 10px;
   text-transform: uppercase;
}



/* meadia qurey  */

@media screen and (max-width: 440px) {
    .p{
        display: none;
    }
    .h4 {
        color: black!important;
    }

    .btn {
        margin-top: 5px;
    }
  }